---
const { theme } = Astro.props
const finalTheme =
  theme === "primary"
    ? "bg-primary"
    : theme === "secondary"
      ? "bg-secondary"
      : theme === "tertiary"
        ? "bg-tertiary"
        : "bg-neutral-light-1"
const classes = `border-4 border-current text-neutral-dark-1 rounded-2xl h-16 px-5 text-body-medium ${finalTheme}`
---

<button class={classes}><slot /></button>
