---
import Button from "./Button.astro"
---

<header class="text-center xl:text-start">
  <div class="pb-10 px-4 pt-20 xl:pb-20 xl:px-8 xl:pt-40 flex flex-col gap-6 max-w-full sm:max-w-[37.5rem] xl:max-w-[75rem] mx-auto xl:flex-row">
    <div class="flex flex-col gap-6 sm:items-center xl:items-start xl:justify-center xl:max-w-[37.5rem]">
      <h1 class="text-heading-1">عید غدیره! 🥳</h1>
      <p class="text-body-medium">
        خوش اومدی و عیدت مبارک! آماده‌ای این روز بزرگ رو جشن بگیریم؟
      </p>
      <a href="#musics"><Button theme="neutral">آره هستم!</Button></a>
    </div>
    <div class="xl:max-w-[37.5rem]">
      <img
        src="https://wd-bahrami.storage.iran.liara.space/images/representation-of-ghadir.webp"
        alt="نقاشی از حضرت محمد و حضرت علی"
        class="max-w-[25rem] w-full border-4 border-neutral-dark-1 rounded-2xl mx-auto xl:-rotate-12"
      />
    </div>
  </div>
</header>
