---
import Button from "./Button.astro"
---

<header class="text-center lg:text-start">
  <div class="pb-10 px-4 pt-20 flex flex-col gap-6">
    <div class="flex flex-col gap-6 sm:items-center">
      <h1 class="text-heading-1 lg:text-heading-0">عید غدیره!</h1>
      <p class="text-body-medium lg:text-body-big">
        خوش اومدی و عیدت مبارک! آماده‌ای این روز بزرگ رو جشن بگیریم؟
      </p>
      <Button theme="neutral">بیا شروع کنیم</Button>
    </div>
    <div class="">
      <img
        src="https://wd-bahrami.storage.iran.liara.space/images/representation-of-ghadir.webp"
        alt="نقاشی از حضرت محمد و حضرت علی"
        class="max-w-[25rem] w-full border-4 border-neutral-dark-1 rounded-2xl"
      />
    </div>
  </div>
</header>
