<section class="text-center bg-tertiary-dark grow shrink flex flex-col xl:justify-center">
  <div class="py-10 px-4 xl:py-20 xl:px-8 flex flex-col gap-6 max-w-full sm:max-w-[37.5rem] mx-auto xl:min-w-[37.5rem]">
    <h2 class="text-heading-2">ุงุนูุงู ุนุฏ ุบุฏุฑ</h2>
    <p class="text-body-small">
      ุญุงูุง ู ุณุฑ ฺฉุงุฑ ูุณุช ฺฉู ูุชูู ุชู ุนุฏ ุบุฏุฑ ุงูุฌุงู ุจุฏ. ูุซูุง: ๐
    </p>
    <p class="text-body-small">
      ุฑูุฒู ฺฏุฑูุชู <br />
      ุบุณู ฺฉุฑุฏู <br />
      ุตูู ุฑุญู <br />
      ุฒุงุฑุช ฺฉุฑุฏู ุงูุงู ุนู <br />
      ุฎูุงูุฏู ุฏุนุง ูุฏุจู <br />
      ุฎูุงูุฏู ุฒุงุฑุช ุงููโุงููู <br />
      ุตููุงุช ุจุณุงุฑ ูุฑุณุชุงุฏู <br />
      ุดุงุฏ ุจูุฏู ู ูุจุฎูุฏ ุฒุฏู <br />
      ุงุทุนุงู ูุคููุงู <br />
      ู ...
    </p>
    <p class="text-body-small">
      ุชู <a
        class="font-bold underline hover:no-underline text-neutral-light-1"
        href="https://fa.wikishia.net/view/%D8%B9%DB%8C%D8%AF_%D8%BA%D8%AF%DB%8C%D8%B1"
        >ุณุงุช ูฺฉ ุดุนู</a
      > ูุชูู ุจุดุชุฑ ุฏุฑ ููุฑุฏ ุงู ุนุฏ ุจุฒุฑฺฏ ุจุฎูู.
    </p>
  </div>
</section>
