---
import MusicPlayer from "./music-player.jsx"
---

<section class="text-center bg-primary-dark">
  <div class="py-10 px-4 xl:py-20 xl:px-8 flex flex-col gap-6 max-w-full sm:max-w-[37.5rem] mx-auto">
    <h2 class="text-heading-2" id="musics">نماهنگ‌های غدیر</h2>
    <p class="text-body-small">
      چند تا نماهنگ از <a
        class="font-bold underline hover:no-underline text-secondary"
        href="https://kashoob.com/">سایت کاشوب</a
      > برات آماده کردم این پایین 👇
    </p>
    <MusicPlayer client:idle />
  </div>
</section>
