---
import MusicPlayer from "./music-player.jsx"
---

<section class="text-center lg:text-start bg-primary-dark">
  <div class="py-10 px-4 flex flex-col gap-6">
    <h2 class="text-heading-2 lg:text-heading-1">نماهنگ‌های غدیر</h2>
    <p class="text-body-small lg:text-body-medium">
      چند تا نماهنگ از <a
        class="font-bold underline hover:no-underline text-secondary"
        href="https://kashoob.com/">سایت کاشوب</a
      > برات آماده کردم این پایین 👇
    </p>
    <MusicPlayer client:idle />
  </div>
</section>
