<section class="text-center lg:text-start">
  <div class="py-10 px-4 xl:py-20 xl:px-8 flex flex-col gap-6 max-w-full sm:max-w-[37.5rem] xl:max-w-[75rem] mx-auto xl:flex-row-reverse">
    <div class="flex flex-col gap-6 sm:items-center xl:items-start xl:justify-center xl:min-w-[37.5rem]">
      <h2 class="text-heading-2">علی از زبان «علی»</h2>
      <p class="text-body-small">
        دوست داری امام علی رو با سخنان خودشون بشناسی؟ قصه‌ها، روایات، و خصوصیات امام از زبان «خودشان»!
        اگه دوست داشتی میتونی از سایت کتابرسان تهیه کنی!
      </p>
      <p class="text-body-small">
        <a
          class="font-bold underline hover:no-underline text-primary"
          href="https://fa.wikishia.net/view/%D8%B9%DB%8C%D8%AF_%D8%BA%D8%AF%DB%8C%D8%B1"
        >خرید کتاب «علی از زبان علی»</a>
      </p>
    </div>
    <div class="xl:min-w-[37.5rem] flex justify-start">
      <img
        src="https://wd-bahrami.storage.iran.liara.space/images/ali-from-himself.webp"
        alt="جلد کتاب علی از زبان علی"
        class="max-w-[25rem] w-full border-4 border-primary rounded-2xl mx-auto xl:mx-0 xl:rotate-12"
      />
    </div>
  </div>
</section>
