<section class="text-center lg:text-start">
  <div class="py-10 px-4 flex flex-col gap-6">
    <h2 class="text-heading-2 lg:text-heading-1">علی از زبان «علی»</h2>
    <p class="text-body-small lg:text-body-medium">
      دوست داری امام علی رو با سخنان خودشون بشناسی؟ قصه‌ها، روایات، و خصوصیات امام از زبان «خودشان»!
      اگه دوست داشتی میتونی از سایت کتابرسان تهیه کنی!
    </p>
    <p class="text-body-small lg:text-body-medium">
      <a
        class="font-bold underline hover:no-underline text-primary"
        href="https://fa.wikishia.net/view/%D8%B9%DB%8C%D8%AF_%D8%BA%D8%AF%DB%8C%D8%B1"
        >خرید کتاب «علی از زبان علی»</a
      >
    </p>
    <img
      src="https://wd-bahrami.storage.iran.liara.space/images/ali-from-himself.webp"
      alt="جلد کتاب علی از زبان علی"
      class="max-w-[25rem] w-full border-4 border-primary rounded-2xl"
    />
  </div>
</section>
