<section class="text-center lg:text-start bg-secondary-dark">
  <div class="py-10 px-4 flex flex-col gap-6">
    <h2 class="text-heading-2 lg:text-heading-1">عید غدیر چیه؟</h2>
    <img
      src="https://wd-bahrami.storage.iran.liara.space/images/man-konto-maula.webp"
      alt="حدیث من کنت مولا فهذا علی مولا"
      class="max-w-[25rem] w-full border-4 border-neutral-dark-1 rounded-2xl"
    />
    <p class="text-body-medium lg:text-body-big font-bold">به صورت خیلی خلاصه:</p>
    <p class="text-body-small lg:text-body-medium">
      پیامبر در ذی‌القعده سال ۱۰ق همراه هزاران نفر برای انجام مناسک حج از مدینه به طرف مکه حرکت کرد.
      از آنجا که این سفر، آخرین حج پیامبر بود به حجة الوداع مشهور شد. پیامبر، پس از پایان اعمال حج
      به‌ همراه مسلمانان به طرف مدینه حرکت کرد و در ۱۸ ذی‌الحجه به غدیر خم رسیدند، جبرئیل بر پیامبر
      نازل شد و از جانب خداوند، به رسول خدا امر کرد تا علی را به‌عنوان جانشین خود، به مردم معرفی
      کند. رسول خدا نیز حاجیان را گرد آورد و علی را به‌عنوان جانشین خود معرفی کرد.
    </p>
  </div>
</section>
