---
const { title } = Astro.props
---

<!-- 
  https://wd-bahrami.storage.iran.liara.space/images/representation-of-ghadir.webp
  https://wd-bahrami.storage.iran.liara.space/images/man-konto-maula.webp
  https://wd-bahrami.storage.iran.liara.space/images/ali-from-himself.webp
 --><!doctype html>
<html lang="fa" dir="rtl" class="">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/src/main.css" />
  </head>
  <body class="bg-neutral-dark-1 text-neutral-light-2 min-h-dvh">
    <slot />
  </body>
</html>
